$main-brand: #00BFFF;
$main-alt: #006BA6;
$main-orange: #ff7f50;

$main-white: #FBFBFB;
$alt-white: #FFFAF0;
$main-dark: #3d3d3d;

$main-red: #D81159;
$main-green: #40B244;
$main-gray: #505050;
$light-gray: #e9e8ec;
$border-gray: #ccc;

$app-radius: 2px;
$vspace: 10px;
$hspace: 10px;

$main-font: 'Open Sans', sans-serif;
$main-display-font: 'Staatliches';
$main-cursive-font: cursive;
