$main-brand: #E9967A;
$main-complement: #4D5EB6;
$main-alt: #9C5942;

$main-white: #FBFBFB;
$main-dark: hsl(0, 0%, 24%);
$main-red: hsl(0, 84%, 50%);
$main-green: #40B244;
$main-blue: hsl(203, 95%, 50%);
$main-gray: #505050;
$light-gray: #E2E1EB;

$border-gray: #ccc;
$app-radius: 2px;
$vspace: 10px;
$hspace: 10px;

$main-font: 'Open Sans', sans-serif;
$main-display-font: 'Staatliches';
$main-cursive-font: cursive;
