@import '../../styles/variables';

.main_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $main-white;
  color: $main-dark;

  h1, h2, h3, h4, h5 {
    font-family: $main-display-font;
    margin: 0;
  }
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
