@import '../../styles/variables';

.home_container {
  display: flex;
  flex-direction: column;

  p {
    font-weight: 800;
    margin-bottom: 5px;
  }

  textarea {
    background-color: $light-gray;
    height: 100px;
    width: 100%;
    margin-bottom: $vspace;
    padding: $vspace;
  }

  button {
    margin-top: $vspace;
    background-color: $main-green;
    padding: $hspace;
    color: $main-dark;
  }
}
