@import '../../styles/variables';

.message {
  padding: 10px;
  margin-bottom: 10px;
  background-color: $main-blue;

  p {
    margin: 0;
  }
}

.day_card {
  background-color: $main-complement;
  padding: 5px;
  color: $main-white;
  margin-bottom: $vspace;
}

.heading {
  font-weight: 800;
}
