@import '../../styles/variables';

.message {
  padding: 10px;
  margin-bottom: 10px;
  background-color: $main-brand;

  p {
    margin: 0;
  }
}

.day_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75px;
  padding: 5px;
  background-color: $main-white;
  color: $main-brand;
  margin-bottom: 10px;
  border-bottom: 1px solid $main-alt;

  p {
    font-size: 24px;
  }
}

.day_details {
  display: flex;
  flex-direction: column;
  padding: $vspace;
  margin: $vspace 0;
  color: $main-dark;
  border: 1px solid $main-brand;

  p {
    font-size: 16px;
  }

  li {
    list-style: none;
    padding: $vspace / 2;
  }
}

.heading {
  font-weight: 600;
  background-color: $main-orange;
  padding: $vspace / 2;
}

.hidden {
  display: none;
}
