@import '../../styles/variables';

.header {
  display: flex;
  flex-direction: row-reverse;
  background-color: $main-brand;
  color: $main-white;
  padding: $hspace;

  button {
    background-color: $main-alt;
    color: $main-white;
    padding: $hspace;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

