@import '../../styles/variables';

.header {
  display: flex;
  flex-direction: row-reverse;
  background-color: $main-brand;
  color: $main-white;
  padding: $hspace;
  height: 60px;
}

.hidden {
  display: none;
  visibility: hidden;
}

