@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: $main-brand;
  color: $alt-white;
  height: 300px;
  margin-bottom: 10px;

  p {
    margin-bottom: 10px;
    line-height: 1.35;
    text-align: justify;
  }
}
